.comment {
  &-photo {
    width: 3rem;
    height: 3rem;
    background: gray;
    border-radius: 4px;
    padding-right: 10px;
  }

  &-wrapper {
    display: flex;
    padding: 4px 0;
  }

  &-user {
    padding: 4px;
  }
}